extends layout.pug

block title
    title Inf

block content
    +header('/kernel/index.png', 'Tachyonic', '<b>Kernel</b> &mdash; Stream Processing and Trading Platform<br>provides fast language and simple resource management')
    article.main
        .index
            .index__col
                h2 Overview
                ul
                    li 1 <a href='http://5ht.co/kernel.htm' class='link'> Kernel </a>
                    li 2 <a href='/language' class='link'> Language</a>
                    li 3 <a href='/lib' class='link'> Base Library</a>
            .index__col
                h2 Documentation
                ul
                    li 1 <a href='/intercore'> InterCore</a>
                    li 2 <a href='/components'> Components</a>
                    li 3 <a href='/apps'> Applications</a>
