extends layout.pug

block title
    title The Kernel

block content
    +header('/kernel/index.png', 'The Kernel', 'Stream Processing and Language Platform')
    article.main
        .index
            .index__col
                h2 Overview
                ul
                    li 1 NOV 16 <a href='/kernel/kernel' class='link'> Kernel </a>
                    li 10 JAN 17 <a href='/kernel/language' class='link'> Language</a>
                    li 3 <a href='/kernel/lib' class='link'> Base Library</a>
            .index__col
                h2 Documentation
                ul
                    li 4 <a href='/kernel/intercore'> InterCore</a>
                    li 5 <a href='/kernel/components'> Components</a>
                    li 6 <a href='/kernel/apps'> Applications</a>
