extends layout.pug

block title
    title Inf

block content
    +header('/kernel/index.png', 'The Kernel', 'Stream Processing and Language Platform')
    article.main
        .index
            .index__col
                h2 Overview
                ul
                    li 1 <a href='/kernel/kernel' class='link'> Kernel </a>
                    li 2 <a href='/kernel/language' class='link'> Language</a>
                    li 3 <a href='/kernel/lib' class='link'> Base Library</a>
            .index__col
                h2 Documentation
                ul
                    li 1 <a href='/kernel/intercore'> InterCore</a>
                    li 2 <a href='/kernel/components'> Components</a>
                    li 3 <a href='/kernel/apps'> Applications</a>
